{% extends 'tienda/_base.html.twig' %}

{% block body %}

<div id="content">
  <div id="left">
	  	<ul>
			{% for categoria in categorias %}

				<li cat-id="{{ categoria.id }}"><i class="fas fa-chevron-right"></i><i class="icon category-icon category-icon-13"></i>  {{categoria.nombre}} </li><hr>
			{% endfor %}
		<ul>
  </div>
  <div id="right">
		<div class="card-group container">
			{% for producto in productos %} 
				<div class="card">
					<input type="hidden" name="" value="{{ producto.id }}">
					<img class="card-img-top" alt="" src="{{producto.url}}">
					<div class="card-body">
				      <p class="card-text"> {{producto.nombre}} </p>
				      <p class="card-text"><small class="text-muted"> {{producto.descripcion}} </small></p>
				      <p class="card-text"><small class="text-muted"><strong> {{producto.precio}} €</strong>/ud </small></p>
							<hr> 
						<button type="button" class="btn btn-outline-warning"> Añadir al carro </button>
					</div>
				</div>
			{% endfor %}

		</div>
  </div>
</div>






{% include 'tienda/_modal.html.twig' %}
{% endblock %}